# Better auth configuration
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Database configuration
DATABASE_URL=
MAX_POOL_CONNECTIONS=20
MAX_CLIENT_IDLE_TIME_IN_MS=30
MAX_CONNECTION_TIMEOUT_IN_MS=4

# OAuth Config
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
